.product-list {
  list-style-type: none;
  width: 90%;
  padding: 0;
}

.product-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 1rem;
  transition: all 0.3s ease;
}
.product-list li:hover {
  background-color: #7573ff;
  transform: scale(1.02);
}

body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}
#products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #333;
  text-align: center;
}
